@use "../variables" as *;

$padding-left-input: 12px;

.group {
    position: relative;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    border-radius: 0;
    box-shadow: none;

    &:focus-within {
        border-color: $black-color;
    }
    &.rounded {
        border-radius: 6px;
    }
    .input {
        padding-left: $padding-left-input;
        padding-top: 1rem;
        padding-right: 40px;
        font-size: 1rem;
        color: $black-color;
        border: none;
        outline: none;

        // remove arrows of type number
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &:focus,
        &:hover,
        &:active {
            box-shadow: none;
        }

        &:focus ~ .label,
        &:not([value=""]) ~ .label {
            top: 8px;
            font-size: 0.7rem;
            font-weight: 500;
            &.required::after {
                font-size: 0.825rem;
            }
        }
    }
    .label {
        position: absolute;
        left: $padding-left-input;
        top: 50%;
        transform: translateY(-50%);
        color: rgba($color: $black-color, $alpha: 0.6);
        font-size: 1rem;
        cursor: text;
        transition: font-size 0.1s linear, font-weight 0.1s linear, top 0.1s linear;

        &.required::after {
            content: "*";
            position: absolute;
            top: -4px;
            right: -8px;
            font-size: 1.2rem;
            color: $red-color;
            transition: font-size 0.1s linear;
        }
    }
    .icon-show-hide-password {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        user-select: none;
        opacity: 0;
        z-index: 0;
        transition: opacity 0.3s linear;

        &.active {
            opacity: 1;
            z-index: 1;
        }
    }
}
