@use "../variables" as *;

@keyframes hide {
}

.wrapper {
    padding: 8rem 0 4rem;
    .header {
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;
        h2 {
            position: relative;
            font-size: 30px;
            font-weight: 400;

            &::after {
                position: absolute;
                content: "";
                bottom: -16px;
                left: 50%;
                transform: translateX(-50%);
                border-bottom: 2px solid $black-color;
                width: 50%;
            }
        }
    }

    .products {
        text-align: center;
        & .tab-product {
            visibility: hidden;
            overflow: hidden;
            justify-content: center;
            height: 0;
            opacity: 0;
            transform: translateY(20px);
            transition: all 0.4s ease-in-out;

            &.show {
                visibility: visible;
                opacity: 1;
                height: auto;
                transform: translateY(0);
            }
        }
    }
    .categories {
        text-align: center;
        .btn-category {
            padding: 0.4rem 1.2rem;
            border-radius: $btn-radius;
            color: rgba($color: $black-color, $alpha: 0.2);
            border: 1px dashed transparent;
            background-color: $white-color;
            margin-left: 1rem;
            transition: border-color 0.4s linear, color 0.4s linear;

            &:hover,
            &.active {
                border-color: $black-color;
                color: rgba($color: $black-color, $alpha: 0.8);
            }
        }
    }
}
