@use "../variables" as *;

.wrapper {
    .validation-msg {
        margin-left: 4px;
        display: block;
        color: $red-color;
        font-size: 14px;
        height: 28px;
    }
    .gender-selection {
        width: 100%;
        padding: 10px 12px;
        font-size: 1rem;
        color: $black-color;
        border: 1px solid rgba($color: $black-color, $alpha: 0.2);
        outline: none;
        &:has(option:checked:not([value="none"])) {
            border-color: $black-color;
        }
    }
}
