@use "../variables" as *;
.item {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: $black-color;
    background-color: $white-color;
    border: none;
    outline: none;
    & + .item {
        border-top: 1px solid $black-color-20;
    }

    &.navbar-item {
        text-decoration: none;

        &.active {
            font-weight: 400;
            font-style: italic;
            background-color: rgba($color: $black-color, $alpha: 0.08);
        }
    }
    &.help {
        display: block;
        color: rgba($color: $black-color, $alpha: 0.6);
    }
}
