@use "../variables" as *;

.social-networks {
    display: flex;
    .icon-wrapper {
        color: $black-color;
        font-size: 1.2rem;
        transition: all 0.2s linear;
        cursor: pointer;

        & + .icon-wrapper {
            margin-left: 1.5rem;
        }

        &:hover {
            transform: translateY(-4px);
        }
    }

    &.border {
        .icon-wrapper {
            padding: 0.4rem 0.6rem;
            border: 1px solid $black-color;

            &:hover {
                &.black {
                    border-color: $black-color;
                    color: $black-color;
                }

                &.red {
                    border-color: $red-color;
                    color: $red-color;
                }

                &.blue {
                    border-color: $hover-blue-color;
                    color: $hover-blue-color;
                }
            }

            & + .icon-wrapper {
                margin-left: 4px;
            }
        }
    }
}
