@use "../variables" as *;

.wrapper {
    overflow-y: auto;
    .order {
        color: rgba($color: $black-color, $alpha: 0.6);
        &.active {
            background-color: rgba($color: $black-color, $alpha: 0.1);
            color: $black-color;
        }
        &:hover {
            background-color: rgba($color: $black-color, $alpha: 0.05);
        }
    }
}
