$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

$white-color: #fff;
$black-color: #000;
$red-color: #ff2828;
$orange-color: #fd4014;
$hover-blue-color: #56cfe1;
$black-color-20: rgba(
    $color: $black-color,
    $alpha: 0.2,
);
$yellow-color: #fdbc00;

$gray-color: #f7f7f7;

$btn-radius: 40px;
$btn-md-height: 40px;
$btn-lg-height: 50px;
$offcanvas-header-height: 65px;
$margin-horizontal-header: 15px;

$font-family: "Kanit", sans-serif;

// mixins
@mixin image-3x4 {
    aspect-ratio: 3 / 4;
    object-fit: cover;
    object-position: center;
}
