@use "variables" as *;

.wrapper {
    padding: 1rem 0;
    background-color: $gray-color;

    .links {
        .link-wrap {
            .link {
                text-decoration: none;
                font-weight: 300;
                font-size: 14px;

                &:not(.current) {
                    color: $black-color;
                    transition: color 0.3s;

                    &:hover {
                        color: $hover-blue-color;
                    }
                }
                &.current {
                    color: rgba($color: $black-color, $alpha: 0.5);
                    pointer-events: none;
                }
            }
        }
    }
}
