@use "variables" as *;
.wrapper {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    &-image {
        max-height: 150px;
        max-width: 120px;
    }
    .name-product {
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        overflow-x: hidden;
        color: $black-color;
        font-size: 1rem;
        font-weight: 300;
    }
    .quantity {
        margin: 1rem 0;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        border: 1px solid $black-color;
        border-radius: $btn-radius;
    }
    & + .wrapper {
        border-top: 1px solid $border-grey-color;
    }
}
