@use "variables" as *;
.wrapper {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    &-image {
        max-height: 150px;
        max-width: 120px;
    }
    .name-product {
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        overflow-x: hidden;
        color: $black-color;
        font-size: 1rem;
        font-weight: 300;
    }

    & + .wrapper {
        border-top: 1px solid $black-color-20;
    }
}
