@use "variables" as *;

.header {
    max-height: $offcanvas-header-height;
    border-bottom: 1px solid $black-color-20;
    .icon-close {
        font-size: 2rem;
        transition: transform 0.4s ease;
        cursor: pointer;
        &:hover {
            transform: rotate(180deg);
        }
    }
}
.body {
    max-height: calc(100vh - $offcanvas-header-height);
    overflow-y: auto;
}
