@use "variables" as *;
@use "sass:map";

.wrapper {
    .login-form,
    .register-form {
        max-width: 410px;
        margin: 10rem auto;
    }
}

@media (max-width: calc(map.get($grid-breakpoints, sm))) {
    .wrapper {
        .login-form,
        .register-form {
            max-width: 300px;
        }
    }
}
