@use "variables" as *;

.wrapper {
    .description-reviews-part {
        background-color: $gray-color;
    }
}
.description-reviews {
    .tab-control {
        .btn-control {
            border: 1px solid transparent;
            background-color: $gray-color;
            color: rgba($color: $black-color, $alpha: 0.5);
            transition: all 0.3s ease-out;

            & + .btn-control {
                margin-left: 8px;
            }

            &.active {
                border-color: $black-color;
                color: $black-color;
            }
            &:hover {
                color: $black-color;
            }
        }
    }
    .tab-content {
        .reviews {
            .no-reviews .write-review {
                color: $yellow-color;
                background-color: transparent;
                border: none;
                outline: none;
            }
        }
    }
}
